<p>store works!</p>
<div *ngIf = "dishes else loading">
    <div *ngFor="let dish of dishes">
        <!-- <span>Id: {{dish.id}} || Text: {{dish.name}} || Price: {{dish.price}}</span> -->
        <h2>{{dish.id}}. {{dish.name}}</h2>
        <div>Price: {{dish.price}}</div>
        <button  (click)="onAddToCart(dish)">Dodaj do koszyka</button>
    </div>
</div>
<ng-template #loading><h2>Loading...</h2></ng-template>

<h2 *ngIf="selectedDish">Selected dish: <span >{{selectedDish.name}}</span></h2>
<a [routerLink]="'/cart'">Cart</a>
