
<div *ngIf = "dishes else loading">
    <div *ngFor="let dish of dishes">
        <nb-card>
            <nb-card-header>{{dish.id}}. {{dish.name}}</nb-card-header>
            <nb-card-body>                
                <span>Price: {{dish.price}}</span>                
            </nb-card-body>
            <nb-card-footer><button (click)="onAddToCart(dish)" nbButton status="primary">Add to cart</button></nb-card-footer>
        </nb-card>        
    </div>
</div>
<ng-template #loading><h2>Loading...</h2></ng-template>

<!-- <h2 *ngIf="selectedDish">Selected dish: <span >{{selectedDish.name}}</span></h2> -->
<a [routerLink]="'/cart'" nbButton>Cart</a>


